.pink{
    --color-one: #2c2c2c;
    --color-two: #ffafda;
    --color-tree: #ffffff;
    --color-four: #DB0073;
    --color-five: #FD6C9E;
    --color-six: #ffbdda;
    --color-seven: #ffc8e3;
    
}