#basic-addon2 {
    background-color: #4B4B4B;
    color: #DDDDDE;
    border-color: #3C3C3C;
}
/* Zone Rooms */
#room_g {
    padding:0;
}
#zone_rooms {
    background-color: #343434;
    border-right: 2px solid #262626;
    height: 100%;
    margin:0;
    min-height: 810px;
    max-height: 810px;
    padding: 0;
    overflow-y: auto;
    color: #ecf0f1;
}

#zone_rooms #input_rooms {
    padding: 2%;
    text-align: center;
}

#zone_rooms input {
    width: 60%;
    height: 40px;
    background-color: #4B4B4B;
    color: #DDDDDE;
    border-color: #3C3C3C;
}

#zone_rooms span {
    width: 40%;
    height: 40px;
    margin-top: 0;
    border-color: #3C3C3C;
}

#zone_rooms li {
    font-size: 1.75em;
    margin-left: 15px;
}

#room_info {
    min-height: 120px;
    max-height: 120px;
    height: 100%;
    padding:0;
    padding-bottom: 5%;
    background-color: #343434;
    border-top: 2px solid #262626;
    border-right: 2px solid #262626;
    color: #ecf0f1;
}

#room_info h2{
    margin-left: 5%;
    margin-top: 5px;
    -webkit-margin-after: 0;
}

#room_info p{
    color: #797979;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 20px;
    line-height: 0px;
    -webkit-margin-after: 0;
}

#room_info h4{
    color: #797979;
    margin-left: 5%;
    margin-top: 10px;
    -webkit-margin-after: 0;
}

#info_text{
    float: left;
}

#info_button{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    padding: 0;
    text-align: center;
}
#button_param{
    background-image: url('./img/cog-2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #797979;
    align: center;
    width: 20px;
    height: 20px;
    
}
#button_param:active {background-color: #343434}

#hiddenDiv{
    display: none;
    background-color: #FFF;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    z-index: 50;
    bottom: 120px;
}

/* Zone Chat */
#zone_chat {
    background-color: #2D2D2D;
    padding: 0;
}

#text {
    height: 810px;
    max-height: 810px;
    overflow-y: auto; 
    color:#ecf0f1;
}

#msg ul {
    margin-top: 10px;
    padding: 0;
}

#msg li {
    padding-left: 10px;
    list-style: none;
    
}
#msg li:nth-child(2n) {
    background-color: #1d1d1d;
    padding-bottom:5px;
}

#msg h3 {
    margin-bottom: 0;
    padding-bottom: 2px;
    color: #e67e22;
}

#msg p {
    margin-left: 3px;
    font-size: 20px;
}

#profil_chat {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    margin-right: 10px;
}

#zone_chat .input-group {
    height: 120px;
    background-color: #bdc3c7;
    border-top: 2px solid #262626;
    border-radius: 0;
}

#zone_chat input {
    background-color: #4B4B4B;
    color: #DDDDDE;
    border-color: #3C3C3C;
    border-radius: 0;
}

#zone_chat #basic-addon2 {
    border-radius: 0;
}

/* Zone Users */
#zone_users {
    height: 100%;
    padding: 5px;
    background-color: #343434;
    border-left: 2px solid #262626;
    min-height: 930px;
    max-height: 930px;
}

#zone_users input {
    background-color: #4B4B4B;
    color: #DDDDDE;
    border-color: #3C3C3C;
    border-radius: 0;
}

#users {
    color: #ecf0f1;
    font-size: 30px;
    font-weight: bold;
    overflow-y: auto;
    max-height: 880px;
}

#users li {
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 10px;
    list-style: none;
    font-size: 20px;
}

#users img {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 2px;
    border: 3px solid #e67e22;
}

#profil {
    height: 70px;
    width: 70px;
    border-radius: 70px;
}




#inscription , #connection {
    display:none;
    text-align: right;
}  
#connection:target {
    display:block
}
#inscription:target {
    display:block
}