/* Zone Rooms */
#room_g {
    padding:0;
}
#zone_rooms {
    background-color: var(--color-one);
    border-right: 2px solid var(--color-two);
    height: 85vh;
    margin:0;
    padding: 5px;
    overflow-y: auto;
    color: var(--color-four);
}

#zone_rooms #input_rooms {
    padding: 2%;
    text-align: center;
}

#zone_rooms input, #zone_users input {
    width: 60%;
    height: 40px;
    background-color: var(--color-two);
    color: var(--color-four);
    border-color: var(--color-tree);
}

#zone_rooms span {
    width: 40%;
    height: 40px;
    margin-top: 0;
    border-color: var(--color-tree);
    cursor: pointer;
}
.roomSelected{
    color: var(--color-five);
}

#security{
    width: 100%;
    border-bottom: 1px solid #000000;
}

#security span{
    width: 40%;
}

#security p{
    width: 60%;
    text-align: center;
    padding-top: 4%;
}

#zone_rooms .nbItem, #zone_users .nbItem {
    color: var(--color-tree);
    text-align: center;
}

#zone_rooms li {
    font-size: 1.75em;
    margin-left: 30px;
    list-style: none;
}

#room_info {
    height: 15vh;
    padding:0;
    padding-bottom: 5%;
    background-color: var(--color-one);
    border-top: 2px solid var(--color-two);
    border-right: 2px solid var(--color-two);
    color: var(--color-four);
}

#room_info h2{
    margin-left: 5%;
    margin-top: 5px;
    -webkit-margin-after: 0;
}

#room_info p{
    color: var(--color-tree);
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 20px;
    line-height: 0px;
    -webkit-margin-after: 0;
}

#room_info h4{
    color: var(--color-tree);
    margin-left: 5%;
    margin-top: 10px;
    -webkit-margin-after: 0;
}

#info_text{
    float: left;
}

#info_button{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    padding: 0;
    text-align: center;
}
#button_param{
    background-image: url('./img/cog-2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #797979;
    align: center;
    width: 20px;
    height: 20px;
}
#button_param:active {
    background-color: #343434;
}

#hiddenDiv{
    display: none;
    background-color: rgba(80, 80, 80, 0.7);
    width: 250px;
    height: 30px;
    position: absolute;
    left: 90%;
    z-index: 50;
    bottom: 15%;
}

#hiddenDiv span{
    cursor: pointer;
}

#button_close_div{
    padding-left: 240px;
    margin-top: -10px;
}

#button_close{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-image: url('./img/close.png');
    background-position: center;
    background-size: 20px;
    background-color: rgba(80, 80, 80, 0);
    border: 1px solid #000000;
}

/* Zone Chat */
#zone_chat {
    background-color: var(--color-two);
    padding: 0;
}

#zone_chat span {
    background-color: var(--color-one);
    color: var(--color-four);
    border-color: var(--color-two);
    cursor: pointer;
}

#zone_chat #text {
    height: 85vh;
    overflow-y: auto;
    color: var(--color-four);
}

#msg ul {
    margin-top: 10px;
    padding: 0;
}

#msg li {
    padding-left: 10px;
    list-style: none;

}
#msg li:nth-child(2n) {
    background-color: var(--color-one);
    padding-bottom:5px;
}

#msg h3 {
    float: left;
    margin-right: 1%;
    margin-bottom: 0;
    padding-bottom: 2px;
    color: var(--color-five);
}

#msg p {
    padding-top: 2px;
    color: var(--color-tree);
}

#msg p {
    margin-left: 3px;
    font-size: 20px;
}

#profil_chat {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    margin-right: 10px;
}

#zone_chat .input-group {
    height: 15vh;
    background-color: var(--color-tree);
    border-top: 2px solid var(--color-two);
    border-radius: 0;
}

#zone_chat input {
    background-color: var(--color-six);
    color: var(--color-four);
    border-color: var(--color-two);
    border-radius: 0;
}

#zone_chat #basic-addon2 {
    border-radius: 0;
}

/* Zone Users */
#zone_users {
    height: 100vh;
    padding: 5px;
    background-color: var(--color-one);
    border-left: 2px solid var(--color-two);
}

#users {
    color: var(--color-four);
    font-size: 30px;
    font-weight: bold;
    overflow-y: auto;
    max-height: 880px;
}

#users li {
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 10px;
    list-style: none;
    font-size: 20px;
}

#users img {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 2px;
    border: 3px solid var(--color-five);
}

#profil {
    height: 70px;
    width: 70px;
    border-radius: 70px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 4.5em;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left: 0; top: -.1em;
  width: 4em; height: 1.85em;
  background: var(--color-tree);
  border-radius: 1em;
  transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 1.4em; height: 1.4em;
  transition: all .2s;
  border-radius: 50%;
  background: var(--color-four);
  top: .07em; left: .24em;
}
/* on checked */
[type="checkbox"]:checked + label:before {
  background:#34495E;
}
[type="checkbox"]:checked + label:after {
  background: #39D2B4;
  left: 2.4em;
}
[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: .6em;
  width: 6em;
  border-radius: 1em;
  font-size: .875em;
  font-weight: bold;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label .ui:before {
  left: 2.35em;
  top: .2em;
}
[type="checkbox"]:checked + label .ui:after {
  top: .2em;
  left: .2em;
  color: #39D2B4;
}
[type="checkbox"]:focus + label:before {
  border: 1px dashed var(--color-tree);
  box-sizing: border-box;
  margin-top: -1px;
}
